<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fancy.dao.AddressMapper">
  <resultMap id="BaseResultMap" type="com.fancy.pojo.Address">
    <id column="addressId" jdbcType="INTEGER" property="addressid" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="cnee" jdbcType="VARCHAR" property="cnee" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="address" jdbcType="VARCHAR" property="address" />
  </resultMap>
  <sql id="Base_Column_List">
    addressId, uid, cnee, phone, address
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from address
    where addressId = #{addressid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from address
    where addressId = #{addressid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fancy.pojo.Address">
    insert into address (addressId, uid, cnee, 
      phone, address)
    values (#{addressid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{cnee,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fancy.pojo.Address">
    insert into address
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="addressid != null">
        addressId,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="cnee != null">
        cnee,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="address != null">
        address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="addressid != null">
        #{addressid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="cnee != null">
        #{cnee,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fancy.pojo.Address">
    update address
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="cnee != null">
        cnee = #{cnee,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
    </set>
    where addressId = #{addressid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fancy.pojo.Address">
    update address
    set uid = #{uid,jdbcType=INTEGER},
      cnee = #{cnee,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR}
    where addressId = #{addressid,jdbcType=INTEGER}
  </update>
</mapper>